DB_NAME=your_database_name
DB_USER=your_username
DB_PASS=your_password
DB_PORT=5432
DB_HOST=localhost
NODE_ENV=development
APP_NAME=car-marketplace-back

BETTER_AUTH_SECRET=change-me
BETTER_AUTH_URL=http://localhost:3000
